$govuk-show-breakpoints: true;
$govuk-images-path: "/public/assets/govuk-frontend/images/";
$govuk-fonts-path: "/public/assets/govuk-frontend/fonts/";

@import "govuk/all.scss";
@import "digitalmarketplace/all.scss";
@import "./partials/app";
@import "./partials/banner";
