{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{% from "digitalmarketplace/components/expander/macro.njk" import dmExpander -%}

{% set titleId = params.name %}

{% set content %}
<div role="group" aria-labelledby="expander-title-{{ titleId }}" class="dm-option-select__container js-options-container" id="{{ params.optionsContainerId }}" tabindex="-1">
  <div class="dm-option-select__container-inner js-auto-height-inner">
  {{ govukCheckboxes({
    "idPrefix": params.name,
    "name": params.name,
    "classes": "govuk-checkboxes--small",
    "fieldset": {
      "legend": {
        "html": params.title,
        "classes": "govuk-visually-hidden"
      }
    },
    "items": params.items
  })}}
  </div>
</div>
{% endset %}

<div data-module="dm-option-select">
  {{ dmExpander({
    "id": params.name,
    "title": params.title,
    "content": content,
    "openOnLoad": params.openOnLoad,
    "ariaControlsId": params.ariaControlsId if params.ariaControlsId
  })}}
</div>
