{% extends "_base_page.html" %}

{% block pageTitle %}Service no longer available - Digital Marketplace{% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-xl">Page no longer available</h1>

  <p class="govuk-body">
    The page you requested is no longer available on the Digital Marketplace.
  </p>
  <p class="govuk-body">
    If you can't find what you're looking for, email <a class="govuk-link" href="mailto:cloud_digital@crowncommercial.gov.uk?subject=Digital%20Marketplace%20page%20gone" title="Please send feedback to cloud_digital@crowncommercial.gov.uk">cloud_digital@crowncommercial.gov.uk</a>
  </p>
{% endblock %}
