<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important supplier information
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      26/08/22: a new update on G-Cloud 12 and G-Cloud 13 has been published on the CCS website
      <a class="govuk-notification-banner__link" href="https://www.crowncommercial.gov.uk/news/digital-outcomes-g-cloud-an-update-for-ccs-customers-and-suppliers">on the CCS website</a>.
    </p>
  </div>
</div>
