{%- from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner -%}

{% set html %}
  <p class="govuk-notification-banner__heading">
    <a class="govuk-notification-banner__link" href="https://auth.identify.crowncommercial.gov.uk">Register with CCS's Public Procurement Gateway</a>.
    DOS 6 and G-Cloud 13 are now live.
  </p>
{% endset %}

{{ govukNotificationBanner({
  "titleText": 'Important information',
  "html": html
}) }}