{%- from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner -%}

{% set html %}
  <p class="govuk-notification-banner__heading">
    Supplier applications for G-Cloud 13 are not available from this page.
    <a class="govuk-notification-banner__link" href="https://www.applytosupply.digitalmarketplace.service.gov.uk">
      Start or continue your application for the G-Cloud 13 framework.
    </a>
  </p>
{% endset %}

{{ govukNotificationBanner({
  "titleText": 'Important supplier information',
  "html": html
}) }}