{% extends "_base_page.html" %}

{% block pageTitle %}Page could not be found - Digital Marketplace{% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-xl">Page could not be found</h1>

  <p class="govuk-body">
    Check you’ve entered the correct web address or start again on the Digital Marketplace homepage.
  </p>
  <p class="govuk-body">
    If you can’t find what you’re looking for, contact us at <a class="govuk-link" href="mailto:cloud_digital@crowncommercial.gov.uk?subject=Digital%20Marketplace%20feedback" title="Please send feedback to cloud_digital@crowncommercial.gov.uk">cloud_digital@crowncommercial.gov.uk</a>
  </p>
{% endblock %}
