@import "../../../govuk-frontend/tools/all";
@import "../../../govuk-frontend/helpers/all";

@include govuk-exports("digitalmarketplace/component/alert") {

    .dm-alert {
        @include govuk-responsive-padding(4);
        @include govuk-responsive-margin(8, "bottom");
        border: govuk-spacing(1) solid;
    }
    .dm-alert--success {
        border-color: govuk-colour("green");
    }
    .dm-alert--error {
        border-color: $govuk-error-colour;
    }
    .dm-alert--noticees {
        border-color: govuk-colour("blue");
    }
    .dm-alert__title {
        margin: 0px;
    }
    .dm-alert__body {
        @include govuk-responsive-padding(4);
        @include govuk-font(19);
    }
}
