{% set componentID = params.id if params.id else 'dm-cookie-banner' %}
{% set serviceName = params.serviceName if params.serviceName else 'Digital Marketplace' %}
{% set cookieInfoUrl = params.cookieInfoUrl if params.cookieInfoUrl else '/cookies' %}
{% set cookieSettingsUrl = params.cookieSettingsUrl if params.cookieSettingsUrl else '/users/cookie-settings' %}

<div id="{{ componentID }}" class="dm-cookie-banner govuk-width-container" data-module="dm-cookie-banner" role="region" aria-describedby="dm-cookie-banner__heading">
  <div class="dm-cookie-banner__wrapper">
    <h2 class="dm-cookie-banner__heading govuk-heading-m" id="dm-cookie-banner__heading">
      Can we store analytics cookies on your device?
    </h2>
    <p class="govuk-body">
      Analytics cookies help us understand how our website is being used.
    </p>
    <div class="dm-cookie-banner__buttons">
      <button class="govuk-button dm-cookie-banner__button dm-cookie-banner__button--accept" type="submit" data-accept-cookies="true" aria-describedby="dm-cookie-banner__heading">
        Yes<span class="govuk-visually-hidden">, {{ serviceName }} can store analytics cookies on your device</span>
      </button>
      <button class="govuk-button dm-cookie-banner__button dm-cookie-banner__button--reject" type="submit" data-accept-cookies="false" aria-describedby="dm-cookie-banner__heading">
        No<span class="govuk-visually-hidden">, {{ serviceName }} cannot store analytics cookies on your device</span>
      </button>
      <a class="govuk-link dm-cookie-banner__link" href="{{ cookieInfoUrl }}">How {{ serviceName }} uses cookies</a>
    </div>
  </div>

  <div class="dm-cookie-banner__confirmation" tabindex="-1">
    <p class="dm-cookie-banner__confirmation-message govuk-body">
      You can <a class="govuk-link" href="{{ cookieSettingsUrl }}">change your cookie settings</a> at any time.
    </p>
    <button class="dm-cookie-banner__hide-button govuk-link" data-hide-cookie-banner="true" role="link">Hide</button>
  </div>
</div>
