@import "../../govuk-frontend/settings/all";
@import "../../../govuk-frontend/tools/all";
@import "../../../govuk-frontend/helpers/all";

@import "../../../govuk-frontend/components/error-message/error-message";
@import "../../../govuk-frontend/components/fieldset/fieldset";
@import "../../../govuk-frontend/components/hint/hint";
@import "../../../govuk-frontend/components/input/input";

@include govuk-exports("digitalmarketplace/component/list-entry") {
  .dm-list-entry__legend {
    @include govuk-text-colour;
    @include govuk-font($size: 24, $weight: bold);
    @include govuk-responsive-margin(4, "bottom");
  }

  .dm-list-entry__item-container {
    margin-top: govuk-spacing(6);
    margin-bottom: govuk-spacing(6);
  }

  .dm-list-entry__item {
    @include govuk-responsive-margin(3, "bottom");
    display:block; /* HACK NEEDED FOR BROWSER WHICH DO NO SUPPORT CSS GRIDS (IE 10, 11)*/
    display: grid;
    grid-template-columns: 1fr min-content;
    column-gap: govuk-spacing(2);
    align-items: start;
  }

  .dm-list-entry-error-message {
    grid-area: 1 / span 2;
  }

  .dm-list-entry__inputs {
    position: relative; /* NEEDED to position number inside input*/
    grid-row: 2 / span 1 ;
  }

  .dm-list-entry__item--hidden {
    display: none;
  }

  .dm-list-entry__item-label {
    @include govuk-font($size: 19, $tabular: true, $weight: bold, $line-height: 1.25);

    width: 1.5em;
    position: absolute;
    top: 9px;
    text-align: right;
    left: govuk-spacing(1);
    pointer-events: none;
  }

  .dm-list-entry__item-input {
    padding-left: 2em;
    margin-bottom: govuk-spacing(1);
  }

  .dm-list-entry__item-input--large {
    padding-left: 3.0em;
  }

  .dm-list-entry__item-remove {
    margin-bottom: 0;
    grid-row: 2 / span 2;
  }

  .dm-list-entry__item-remove--hidden, .dmp-list-entry__item-add--hidden {
    display: none;
  }

  .dmp-list-entry__item-add {
    margin-bottom: govuk-spacing(1);
  }
}
