{% extends "template.njk" %}

{% block head %}

  <link rel="stylesheet" href="/public/assets/styles/app.css">

  {% block styles %}{% endblock %}
{% endblock %}

{% block header %}
  {% include "../partials/banner.njk" %}
  {{ super() }}
{% endblock %}

{% block bodyEnd %}
  <script src="/public/assets/govuk-frontend/javascript/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
  <script src="/public/assets/javascript/all.js"></script>
  <script>window.DMGOVUKFrontend.initAll()</script>
{% endblock %}
